.main{
    width:800px;
    margin:0 auto;
}
.poster-main{
    width:800px;
    height:270px;
    position:relative;
}
li{
    list-style: none;
}
.poster-item a, .poster-item img{
    display:block;
}
.poster-item img{
    width:100%;
    height:100%;
}
.poster-list{
    width:640px;
    height:270px;
}
.poster-btn{
    position:absolute;
    top:0;
    width:100px;
    height:270px;
    z-index:10;
    cursor:pointer;
    opacity:0.8;
}
.poster-item{
    position:absolute;
    left:0;
    top:0;
}
.poster-prev-btn{
    left:0;
    background:   url("../img/btn_l.png") no-repeat center center;
}
.poster-next-btn{
    right:0;
    background:   url("../img/btn_r.png") no-repeat center center;
}
